<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, nofollow">
    <meta name="author" content="kim1124">
    <meta name="description" content="pty.js를 이용한 NodeJS 웹 터미널 입니다.">
    <title>Web terminal</title>
    <script src="/xterm/dist/xterm.js"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/xterm/dist/xterm.css">
  </head>
